/* app css stylesheet */

body {
  font-family: 华文细黑, STHeiti, 'Microsoft YaHei', 微软雅黑, 'Helvetica Neue', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
  background: #e0f2f1;
}



.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/** Detail View **/
img.phone {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}

ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}


.indexNav {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 9;
}

.indexNavList {
  padding-left: 0;
}

.indexNavList li {
  display: inline;
  text-decoration: none;
  color: #ffffff;
  opacity: .8;
  padding: 5px 10px;
  cursor: pointer;
}

.indexNavList a {
  text-decoration: none;
  color: #ffffff;
  opacity: .8;
  font-size: 1em;
}

.indexNavList li:hover, .indexNavList a:hover {
  opacity: 1;
}

.titleContainer {
  position: absolute;
  top: 0;
  height: 110%;
  width: 100%;
}

.videoCover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .4;
  z-index: 1; 
}

.myContainer {
  background-color: #e0f2f1;
  z-index: 9;
  position: relative;
  margin-top: 50%;
  width: 100%;
  overflow: hidden;
}

.myContainerContent {
  padding-bottom: 17px;
  border-top: 1px solid #e0e0e0; 
}

.myContainerContent:first-child {
  border-top: none; 
}

.titleLogo {
  background-image: url('http://static.wdjimg.com/www/images/eyepetizer/home-scdbb92bcee.61daee3e.png');
  background-position: 0 99.69789%;
  background-repeat: no-repeat;
  background-size: 351px;
  height: 225px;
  left: 50%;
  margin: -112px 0 0 -90px;
  opacity: .9;
  position: absolute;
  top: 40%;
  width: 180px;
  z-index: 10;
}

#video {
  width: 100%;
}



.myContainer .row {
  width: 80%;
  margin: 0 auto;
}

.detailPiece {
  position: relative;
  margin-top: 14px;
  padding: 0 7px;

}


.detailDesc {
  position: absolute;
  top: 60%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  background: rgba(0,0,0,.3);
}

.detailDescTitle {
  color: white;
  font-size: 1.8em;
  text-decoration: none;
}

.detailCate {
  font-size: 1em;
  opacity: 1;
  color: white;
  transition: 1s;
  -moz-transition: 1s;  /* Firefox 4 */
  -webkit-transition:  1s; /* Safari 和 Chrome */
  -o-transition:  1s;
}

.detailCate:hover {
  opacity: .8;
}

.detailDura {
  margin-left: 1em;
}


.detailImg {
  position: relative;
  width: 100%;
  max-width: 100%;
  border-bottom: 2px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  overflow: hidden;
}

.detailImg:hover {
  box-shadow: 2px 2px 2px #e7e7e7;
}

.detailDataCover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .4;
  z-index: 1;
  transition: .5s;
  -moz-transition: .5s;  /* Firefox 4 */
  -webkit-transition:  .5s; /* Safari 和 Chrome */
  -o-transition:  .5s;
}

.detailImgContent {
  max-width: 100%;
  transition: .5s;
  -moz-transition: .5s;  /* Firefox 4 */
  -webkit-transition:  .5s; /* Safari 和 Chrome */
  -o-transition:  .5s;
}

.detailImgContent:hover {
  transform: scale(1.1,1.1);
}


.detailDate {
  padding: 0 7px;
  margin-top: 16px;
  font-size: 1.5em;
}

.detailDateDesc {
  padding-left: 10px;
  border-left: 10px solid #455a64;
}

.loadBtn {
  text-align: center;
  margin-bottom: 1em;
}

.loadBtn button {
  font-size: 1.2em;
  color: #fafafa;
  background-color: #80cbc4;
  opacity: .7;
  display: inline-block;
  padding: 5px 100px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.loadBtn button:hover {
  background-color: #757575;
  color: #fafafa;
  opacity: 1;
}

.loadBtn button:visited {
  background-color: #004d40;
  color: #fafafa;
}

.footer {
  position: relative;
  margin-top: 5em;
  padding-top: 2em;
  height: 150px;
  width: 100%;
  background-color: #004d40;
  color: #80cbc4;
}

.footer a {
  text-decoration: none;
  color: #80cbc4;
}

#backtop.light {
  bottom: 164px;
}

#backtop {
  z-index: 10
}

#backtop.light button,#backtop.light button:active {
  background: #004d40;
  color: white;
  padding: .7em 1em;
  border: none;
  opacity: .5
}

#backtop.light button span {
  font-size: 1.5em;
}

.detailContainer {
  position: relative;
}

.videoContainer {
  position: relative;
  width: 100%;
  background-color: black;
  min-height: 500px;
}

.videoContainer video {
  width: 100%;
  margin: 0 auto;
}

.videoContainerCover {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}

.videoContainerCoverBlur {
  opacity: .5;
  transition: .5s;
  -moz-transition: .5s;  /* Firefox 4 */
  -webkit-transition:  .5s; /* Safari 和 Chrome */
  -o-transition:  .5s;
}

.videoContainerCoverBlur:hover {
  opacity: .1;
  transition: .5s;
  -moz-transition: .5s;  /* Firefox 4 */
  -webkit-transition:  .5s; /* Safari 和 Chrome */
  -o-transition:  .5s;
}

.playBtnContainer {
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
}

.playBtn {
  color: white;
  font-size: 3em;
  padding: 10px;
  border: 5px solid white;
  border-radius: 50px;
  cursor: pointer;
}

.detailDescContainer {
  position: relative;
  padding: 2em .5em .5em .5em;
  color: white;
  background: #009688;
}

.detailDescCate {
  border-top: 1px solid white;
  padding-top: 10px;
}
.detailDescTitle {
  padding-bottom: .5em;
}

.footerTitle {
  text-align: center;
  font-size: 1.2em;
}

.footerCopyright {
  text-align: center;
}